:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);

  --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-image: url("../assets/images/background-desktop.png");
  background-position: center;
}

/* Styles for form and inputs */
form div:not(.dropfile) {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

form input:not(:nth-child(1)) {
  padding: 2px;
  border: 1px solid var(--Neutral-500);
  border-radius: 8px;
}

input:focus {
  outline: none;
}

.submit-button {
  background-color: var(--Orange-500);
  cursor: pointer;
  width: 100%;
  padding: 4px 8px;
}

.ticket-generated {
  display: none;
}

/* Dropfiles area */
.dropfile {
  border: 1px dashed var(--Neutral-500);
  width: 100%;
  height: 140px;
  border-radius: 8px;
  background-color: var(--Neutral-900);
  transition: background-color 0.2s;
}

.dropfile:hover {
  background-color: var(--Neutral-700);
}

.selectfile {
  display: none;
}

.avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.file-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  justify-content: center;
}

.file-data[hidden] {
  display: none;
}

.upload-icon {
  cursor: pointer;
}
